.p10 { padding: 0 10%; }
.ph10 { padding: 4vh 10%; }
.p1 { padding: 1rem; }
.ph1 { padding: 0 1rem; }
.pv1 { padding: 1rem 0; }
.ph2 { padding: 0 2rem; }
.pv2 { padding: 2rem 0; }

.m1 { margin: 1em; }
.m2 { margin: 2em; }
.mv1 { margin-top: 1em; margin-bottom: 1em; }
.mv2 { margin-top: 2em; margin-bottom: 2em; }
.mh1 { margin-left: 1em; margin-right: 1em; }
.mh2 { margin-left: 2em; margin-right: 2em; }
.mt2 { margin-top: 2em; }
.mt1 { margin-top: 1em; }
.mb2 { margin-bottom: 2em; }
.mh10 { margin-top: 10%; margin-bottom: 10%; }
.mb10 { margin-bottom: 10%; }

.draggable {
  cursor: url('/images/drag.png') 16 9, ew-resize;
}

.cover-fit {
  object-fit: cover;
  object-position: center;
}

@mixin drag-cursor {
  cursor: url('/images/drag.png') 16 9, ew-resize;
}

@function rem($multiplier) {
  @return $multiplier * $font-size;
}

@mixin input-placeholder-color($color) {
  $pseudos: '::-webkit-input-placeholder', ':-moz-placeholder', '::-moz-placeholder',
    ':-ms-input-placeholder',  '::-webkit-input-placeholder';

  // It is important to export every pseudo within its own block, because otherwise the placeholder
  // won't be set on the most browsers.
  @each $pseudo in $pseudos {
    &#{$pseudo} {
      color: unquote($color);
    }
  }
}

// mixin definition ; sets LTR and RTL within the same style call
// @see https://css-tricks.com/almanac/properties/d/direction/

@mixin rtl($prop, $ltr-value, $rtl-value) {
  #{$prop}: $ltr-value;
  [dir=rtl] & {
    #{$prop}: $rtl-value;
  }
}

@mixin rtl-prop($ltr-prop, $rtl-prop, $value, $reset-value) {
  #{$ltr-prop}: $value;
  [dir=rtl] & {
    #{$ltr-prop}: $reset-value;
    #{$rtl-prop}: $value;
  }
}

// To reverse padding (top left bottom right) -> (top right bottom left)
@function rtl-value($list) {
  @if length($list) == 4 {
    @return nth($list, 1) nth($list, 4) nth($list, 3) nth($list, 2)
  }
  @if length($list) == 5 {
    @return nth($list, 1) nth($list, 4) nth($list, 3) nth($list, 2) nth($list, 5)
  }
  @return $list;
}


// ############################## DISPLAY UTILS
@mixin hide {
  display: none;
  backface-visibility: hidden;
  visibility: hidden;
}

@mixin show {
  display: flex;
  backface-visibility: visible;
  visibility: visible;
}

.show-lg, .show-desktop
.show-sm, .show-mobile {
  @include hide;
}

[row="nowrap"] {
  flex-wrap: nowrap;
}

@media #{$mobile} {
  .show-sm, .show-mobile {
    @include show;
  }
  .hide-sm, .hide-mobile {
    @include hide;
  }
  [row] {
    flex-wrap: wrap;
    flex: 1 1 100%;
  }
}

@media #{$desktop} {
  .show-lg, .show-desktop {
    @include show;
  }
  .hide-lg, .hide-desktop {
    @include hide;
  }
}

//END ################### DISPLAY UTILS