@import 'styles/vars.scss';

.Experience {
  &.print {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .header {
    small {
      margin: .4em;
      font-size: .8em;
      color: $black5;
    }
  }

  .technologies {
    margin: .5rem;

    span {
      padding: .2rem .4rem;
      margin-right: .3rem;
      border-radius: $radius;
      border: 1pt solid $black1;
      color: $black5;
      font-size: .8em;
    }
  }

  img {
    height: 3rem;
    max-height: 100%;
    object-fit: contain;
    max-width: 7rem;

    @media print {
      height: 2rem;
    }
  }
}
