@import 'vars';

#Experience {
  li {
    margin-bottom: 2rem;
    border-bottom: 1pt dotted $black3;
    padding-bottom: 1rem;
  }


  .technologies {
    margin: .5rem;

    span {
      padding: .2rem .4rem;
      margin-right: .3rem;
      border-radius: $radius;
      border: 1pt solid $white1;
      color: $white5;
      font-size: .8em;
    }
  }

  img {
    width: 4rem;
    height: 3rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto 1rem;
  }
}
