@import 'styles/_vars.scss';

.Experience {
  .technologies {
    margin: .5rem;

    span {
      padding: .2rem .4rem;
      margin-right: .3rem;
      border-radius: $radius;
      border: 1pt solid $black1;
      color: $black5;
      font-size: .8em;
    }
  }

  img {
    width: 4rem;
    height: 3rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto 1rem;
  }
}
