@import '~flamework/vars';
@import 'styles/vars.scss';

#Print {
  margin-bottom: 4rem;
  padding: 1.5cm;
  margin-top: 8rem;
  padding-bottom: 4rem;
  background-color: white;
  box-shadow: 0 0 18pt rgba(black, .4), 0 0 4pt rgba(65, 65, 65, .5);
  color: black;
  font-size: 11pt;

  hr { opacity: .2; margin-top: 1.5rem; margin-bottom: 1.5rem; }

  .profile {
    h3 { color: $black5; }
  }

  .perks { font-size: .75rem; }

  #SkillList {
    align-items: flex-start;

    .design-list, .frontend-list, .backend-list, .wish-list {
      margin-top: 0;
      align-items: flex-start;
      justify-content: start;
      align-content: flex-start;
      padding-right: .2rem;
      flex-direction: column;
      border-left: 1pt solid rgba(black, .1);
      padding-left: .25rem;
      flex: 1 1 25%;

      > li[data-tip] {
        flex: 0 1 auto;
        padding: 0 .25rem;
        display: flex;
        align-items: center;
        &:after { color: black; }
      }
    }

    .Hex {
      width: 1rem;
      height: 1.25rem;
      font-size: 1rem;
      color: black;
      flex: 0 0 auto;
      .hex-svg { display: none; }
      img { margin: 0; width: 100% }
    }

    .show-print {
      display: block;
      color: black;
      text-align: left;
      margin: .5rem;
      line-height: 1.15;
      font-size: .6rem;
      @media print { font-size: .5rem }
    }
  }



  @media print {
    padding: 0;
    margin: 0;
    box-shadow: none;
    a[href]:after { content: none }
  }
}
