@import 'styles/vars.scss';

button.Button, a.Button {
  font-weight: 700;

  &:first-of-type { margin-left: 0 }

  .svg-inline--fa {
    margin-right: .5rem;
    margin-top: .1rem;
    font-size: .8em;
  }

  &.default {
    color: white;
    background-color: $dalaran;
    .svg-inline--fa { opacity: .6; }
  }

  &.social {
    font-weight: 700;
    font-size: .9em;
    margin: .5rem .25rem;
    padding: .25em .75em .25em .75em;
    .svg-inline--fa { font-size: 1.5em; }
  }
  sub.social-tag {
    font-weight: 400;
    font-size: .7em;
    opacity: .7;
    display: block;
  }

  &.outline {
    border: 1pt solid currentColor;
  }

  // Brands
  &.linkedin { background-color: #0077b5; color: white; }
  &.facebook { background-color: #3B5998; color: white; }
  &.instagram { background-color: white; color: #24292e; }
  &.github { background-color: #24292e; color: white; }
}
