@import 'styles/_vars.scss';

$hero-avatar-width: 56pt;

.hex {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0 25%);
}

.HeroFrame {
  position: relative;
  margin-top: 60pt;
  font-size: .8rem;

  .avatar {
    position: absolute;
    width: $hero-avatar-width;
    height: 60pt;
    top: -20pt;
    left: -12pt;
    padding: 4pt;
    background-color: rgba($dalaran, 0.7);

    img {
      width: 100%;
      height: 100%;
      object-position: top right;
    }
  }

  .hero-role {
    margin-left: $hero-avatar-width - 5pt;
    color: $pink;
    margin-bottom: .5rem;
    margin-top: -.5rem;
  }

  .hud-decorated {
    > span { background-color: rgba($dalaran, 0.2); }

    .decoration {
      width: $hero-avatar-width;
      clip-path: polygon(0 0, 25% 0, 100% 100%, 0% 100%);
    }
  }

  .hero-social {
    color: $white5;
    margin-top: -.75em;

    a {
      padding: .5rem .5rem;
      margin-left: .25em;
      line-height: 1;
      font-size: 1.4em;
      &:hover {
        color: $white;
      }
    }
  }

  .hud {
    padding: 1rem;
    border-radius: 0 $radius /2 $radius /2 $radius /2;
    background-color: rgba($dalaran, 0.2);
    // clip-path: polygon(0 0, 25% 0, 100% 100%, 0% 100%);
  }

  .skill-bars {
    width: 100%;

    p {
      padding: .2em 2em;
      margin-bottom: .4em;
      color: white;
      text-shadow: 0 .5pt 1pt $black5;
    }

    .Backend { background-color: $ysera; }

    .Frontend { background-color: $alliance; }

    .Design { background-color: $pink; }
  }

  .skill-tags {
    h6 { color: $pink; display: inline; margin-right: 1em }
    span { margin-right: .5em }
  }
}
