$gutter:              1rem;
$container-width:     74rem;
$mobile-breakpoint:   69rem; // ~780px
$desktop-breakpoint:  $mobile-breakpoint + 0.01;
$mobile:  "screen and (max-width: #{$mobile-breakpoint})";
$desktop: "screen and (min-width: #{$desktop-breakpoint})";

$radius: 12pt;

$black: #170f23;
$black1: rgba($black, .1);
$black3: rgba($black, .25);
$black5: rgba($black, .5);
$black8: rgba($black, .75);

$white: #fff;
$white1: rgba($white, .1);
$white3: rgba($white, .3);
$white5: rgba($white, .6);
$white7: rgba($white, .8);

$pink: #b951ce;
$dalaran: #7e409d;
$darnassus: rgb(39, 29, 62);
$ysera: #59DFB3;
$alliance: #19B5FF;
$nightsong: #201a2e;

$primary: $pink;
$base: #211b2b; // 25242B
$background: #211b2b;
$strip-background: rgba($pink,0.1);

$base-font: 'Assistant', 'Segoe UI', 'Open Sans',
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-line-height: 1.4 !default;
$base-font-size: 100% !default;
// Font size mixin for REM output with PX fallback
@mixin font-size($size) {
  font-size: $size * $base-font-size;
  font-size: #{$size}rem;
}

@mixin absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
