@import 'styles/vars.scss';
@import '~flamework';
@import 'base';

.ReactModal__Content {
  overflow-y: auto;
  max-height: 100%;
  max-height: 85vh;
  transform: translate3d(0, 100%, 0);
  transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.ReactModal__Content--after-open {
  transform: translate3d(0, 0, 0);
}

.modal-open {
  overflow-y: hidden;
}
