@import 'vars';
@import '~flamework';
@import 'base';

.ReactModal__Content {
  transform: translate3d(0, 100%, 0);
  transition: transform .2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.ReactModal__Content--after-open {
  transform: translate3d(0, 0, 0);
}
