@import 'vars';

header#home-header {
  padding: 1rem 2rem;
  margin-top: 4rem;
  margin-bottom: 8rem;
  @media #{$mobile} {
    margin-bottom: 3rem;
  }

  .bio {
    h2 { font-weight: 700; }
    max-width: 45rem;
  }
}

.Hologram {
  .hero-hologram {
    z-index: 1;
  }
  .hologram-platform {
    margin-top: -36pt;
    z-index: 0;
  }

  @media #{$mobile} {
    display: none;
  }
}