@import 'styles/vars.scss';

// .CallToActions {

// }

#Footer {
  background-color: #ffffff;
  color: $black8;

  @media #{$mobile} {
    text-align: center;
  }

  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .footer-hero {
    a { margin: .2rem .5rem }

    @media #{$mobile} {
      margin-top: 2rem;
    }
  }
}
