@import '~flamework/vars';
@import 'styles/vars.scss';

#Resume {
  font-size: 1rem;
  padding-bottom: 4rem;
  padding-top: 8rem;
  background-color: $nightsong;

  main {
    background-color: rgba($darnassus, .7);
    padding-top: 3rem;
    padding-bottom: 3rem;
  }


  h4 {
    color: $primary;
    font-weight: 600;
    margin: 1.25rem 0 .75rem 0;
  }

  .resume-section {
    background-color: lighten($darnassus, 3%);
    padding: .5rem;
    @include shadow;
  }
}
