name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
    - main
    - dev
    - development
    - staging

env:
  CI: true
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
  HUSKY_SKIP_INSTALL: true

jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - uses: actions/cache@v2
      id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-

    - name: Install packages
      run: yarn install --frozen-lockfile --silent --non-interactive

    - name: Build the app for production
      run: yarn build

    - name: Slack - Build fail
      uses: Ilshidur/action-slack@2.1.0
      if: failure()
      with:
        args: "*BUILD failed*\n_You are not prepared._"
